div #content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a 
#hero-msg h1, #hero-msg h4
.button-box
main section {
    background-color: #D9D2DB;
}

#background {
    height: 725px;
}
body {
    background-color: #FAF8D4;
}
header {
    background-color: #C3BAAA;
}
nav a:hover {
    background-color: #C6BEC2;
}
.book, .join {
    background-color: #C3BAAA;
}
.book:hover, .join:hover {
    background-color: #EBDCCB;
}
#background {
    background-color: #D9D2DB;
}
.msg {
    background-color: #C6BEC2;
}
footer {
    background-color: #FAF8D4;
}